.btn.shopBtn.btn-primary {
    margin: 1px auto 20px auto;
}

.BestSeller.title{
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
.BestSeller.title::before {
    content: '';
    height: 2px;
    width: 140px;
    background-color: var(--primaryColor);
    position: absolute;
    top: 30px;
}


.shopBtnDiv {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 20px;
}