.CategoryProduct.title  {
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
.CategoryProduct.title::before {
    content: '';
    height: 2px;
    background-color: var(--primaryColor);
    position: absolute;
    top: 30px;
    width: 100%!important;
}
#clockDiv {
    display: flex;
    margin-left: 15px;
}

