
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 576px) and (max-width: 767px) {

    #clockDiv span {
        background: var(--primaryColor);
        line-height: 25px;
        padding: 1px 11px;
        font-size: 12px;
        color: var(--btntextColor);
        border-radius: 3px;
    }
    #mobile-flash-sale {
        margin-top: 15px;
    }
    #mobile-flash-sale .priceDiv {
        position: unset;
    }
    .product-card.mobile-flashSale-card.card {
        margin-bottom: 0px;
    }
    .mobile-flashSale-card-details {
        margin-top: 9px;
    }
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: var(--primaryColor);
        transition: width .6s ease;
        font-size: 11px;
    }
    .progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        line-height: 0;
        font-size: .75rem;
        background-color: #e0e3e6;
        border-radius: .25rem;
        margin-bottom: 3px;
    }
    .discountPrice {
        color: var(--discountTextColor);
        margin: 16px 0 0 0;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
    }
    .regularPrice {
        color: var(--darkBlackColor);
        padding: 1px 0px;
    }
    .flashSaleCountDown {
        margin-top: 28px;
        margin-bottom: 20px;
        margin-left: -98px;
      }
      .sigleFlashSalecountDown{
        margin-top: 28px;
        margin-bottom: 20px;
        margin-left: -75px; 
    }
    .Slider.mfddiv {
        width: 100%;
        margin: auto;
    }
    .mfddiv.row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .discountPrice.singlePrice.mfdp {
        text-align: left;
        margin-left: 6px !important;
    }
    .regularPrice.mfdp del {
        margin-left: 6px;
    }
    .regularPrice.mfdp{
        margin-top: -5px;
    }

    .regularPrice.singlePrice.mfdp {
        font-size: 13px !important;
        margin-left: 6px !important;
    }
    .product-card.mfdcp.card {
        height: 150px;
    }

    .product-card.mfdcp.card .cardImgDiv {
        padding: 0px 15px;
        height: auto !important;
        overflow: hidden;
        position: relative;
        margin-top: 9px;
    }

    .mfdrow.row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .mfdcol {
        padding-left: 5px;
        padding-right: 5px;
    }

    .Slider.loader.mfddiv{
        width: 100%;
    }
    .mobile-card-price-details.mfdcdetails{
        margin-left: 20px;
    }
    .mfdt-div {
        margin-bottom: 15px;
    }

    .csadjust.flashdeal{
        margin-bottom: 0px;
    }

}

@media (min-width: 481px) and (max-width: 575px) {

    #clockDiv span {
        background: var(--primaryColor);
        line-height: 25px;
        padding: 1px 11px;
        font-size: 12px;
        color: var(--btntextColor);
        border-radius: 3px;
    }
    #mobile-flash-sale {
        margin-top: 15px;
    }
    #mobile-flash-sale .priceDiv {
        position: unset;
    }
    .product-card.mobile-flashSale-card.card {
        margin-bottom: 0px;
    }
    .mobile-flashSale-card-details {
        margin-top: 9px;
    }
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: var(--primaryColor);
        transition: width .6s ease;
        font-size: 11px;
    }
    .progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        line-height: 0;
        font-size: .75rem;
        background-color: #e0e3e6;
        border-radius: .25rem;
        margin-bottom: 3px;
    }
    .discountPrice {
        color: var(--discountTextColor);
        margin: 16px 0 0 0;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
    }
    .regularPrice {
        color: var(--darkBlackColor);
        padding: 1px 0px;
    }
    .flashSaleCountDown {
        margin-top: 28px;
        margin-bottom: 20px;
        margin-left: -98px;
    }
    .sigleFlashSalecountDown{
        margin-top: 28px;
        margin-bottom: 20px;
        margin-left: -75px; 
    }

    .Slider.mfddiv {
        width: 100%;
        margin: auto;
    }
    .mfddiv.row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .discountPrice.singlePrice.mfdp {
        text-align: left;
        margin-left: 6px !important;
    }
    .regularPrice.mfdp del {
        margin-left: 6px;
    }
    .regularPrice.mfdp{
        margin-top: -5px;
    }

    .regularPrice.singlePrice.mfdp {
        font-size: 13px !important;
        margin-left: 6px !important;
    }
    .product-card.mfdcp.card {
        height: 223px;
    }
    .product-card.mfdcp.card .cardImgDiv {
        padding: 0px 20px;
        height: 168px !important;
        overflow: hidden;
        position: relative;
        margin-top: 9px;
    }

    .mfdrow.row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .mfdcol {
        padding-left: 5px;
        padding-right: 5px;
    }

    .Slider.loader.mfddiv{
        width: 100%;
    }
    .mobile-card-price-details.mfdcdetails{
        margin-left: 20px;
    }
    .mfdt-div {
        margin-bottom: 15px;
    }

    .csadjust.flashdeal{
        margin-bottom: 0px;
    }



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    #clockDiv span {
        background: var(--primaryColor);
        line-height: 25px;
        padding: 1px 11px;
        font-size: 12px;
        color: var(--btntextColor);
        border-radius: 3px;
    }
    #mobile-flash-sale {
        margin-top: 15px;
    }
    #mobile-flash-sale .priceDiv {
        position: unset;
    }
    .product-card.mobile-flashSale-card.card {
        margin-bottom: 0px;
    }
    .mobile-flashSale-card-details {
        margin-top: 9px;
    }
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: var(--primaryColor);
        transition: width .6s ease;
        font-size: 11px;
    }
    .progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        line-height: 0;
        font-size: .75rem;
        background-color: #e0e3e6;
        border-radius: .25rem;
        margin-bottom: 3px;
    }
    .discountPrice {
        color: var(--discountTextColor);
        margin: 16px 0 0 0;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
    }
    #mobile-flash-sale  .TitleDiv.d-flex {
        display: unset !important;
    }
    #clockDiv {
        display: flex;
        margin-left: 0px;
        margin-top: 6px;
    }
    .regularPrice {
        color: var(--darkBlackColor);
        padding: 1px 0px;
    }
    .flashSaleCountDown {
        margin-top: 28px;
        margin-bottom: 20px;
        margin-left: -83px;
      }
    .sigleFlashSalecountDown{
        margin-top: 28px;
        margin-bottom: 20px;
        margin-left: -60px; 
    }
    .Slider.mfddiv {
        width: 100%;
        margin: auto;
    }
    .mfddiv.row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .discountPrice.singlePrice.mfdp {
        text-align: left;
        margin-left: 6px !important;
    }
    .regularPrice.mfdp del {
        margin-left: 6px;
    }
    .regularPrice.mfdp{
        margin-top: -5px;
    }

    .regularPrice.singlePrice.mfdp {
        font-size: 13px !important;
        margin-left: 6px !important;
    }
    .product-card.mfdcp.card {
        height: 165px;
    }
    .product-card.mfdcp.card .cardImgDiv {
        padding: 0px 15px;
        height: auto !important;
        overflow: hidden;
        position: relative;
        margin-top: 9px;
    }

    .mfdrow.row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .mfdcol {
        padding-left: 5px;
        padding-right: 5px;
    }

    .Slider.loader.mfddiv{
        width: 100%;
    }
    .mobile-card-price-details.mfdcdetails{
        margin-left: 20px;
    }
    .mfdt-div {
        margin-bottom: 15px;
    }

    .csadjust.flashdeal{
        margin-bottom: 0px;
    }


}

@media (min-width: 0px) and (max-width: 319px) {

    #clockDiv span {
        background: var(--primaryColor);
        line-height: 25px;
        padding: 1px 11px;
        font-size: 12px;
        color: var(--btntextColor);
        border-radius: 3px;
    }
    #mobile-flash-sale {
        margin-top: 15px;
    }
    #mobile-flash-sale .priceDiv {
        position: unset;
    }
    .product-card.mobile-flashSale-card.card {
        margin-bottom: 0px;
    }
    .mobile-flashSale-card-details {
        margin-top: 9px;
    }
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: var(--primaryColor);
        transition: width .6s ease;
        font-size: 11px;
    }
    .progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        line-height: 0;
        font-size: .75rem;
        background-color: #e0e3e6;
        border-radius: .25rem;
        margin-bottom: 3px;
    }
    .discountPrice {
        color: var(--discountTextColor);
        margin: 16px 0 0 0;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
    }
    #mobile-flash-sale  .TitleDiv.d-flex {
        display: unset !important;
    }
    #clockDiv {
        display: flex;
        margin-left: 0px;
        margin-top: 6px;
    }
    .regularPrice {
        color: var(--darkBlackColor);
        padding: 1px 0px;
    }
    .flashSaleCountDown {
        margin-top: 28px;
        margin-bottom: 20px;
        margin-left: -83px;
      }
      .sigleFlashSalecountDown{
        margin-top: 28px;
        margin-bottom: 20px;
        margin-left: -60px; 
    }

    .Slider.mfddiv {
        width: 100%;
        margin: auto;
    }
    .mfddiv.row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .discountPrice.singlePrice.mfdp {
        text-align: left;
        margin-left: 6px !important;
    }
    .regularPrice.mfdp del {
        margin-left: 6px;
    }
    .regularPrice.mfdp{
        margin-top: -5px;
    }

    .regularPrice.singlePrice.mfdp {
        font-size: 13px !important;
        margin-left: 6px !important;
    }
    .product-card.mfdcp.card {
        height: 120px;
    }
    .product-card.mfdcp.card .cardImgDiv {
        padding: 0px 27px;
        height: auto !important;
        overflow: hidden;
        position: relative;
        margin-top: 9px;
    }

    .mfdrow.row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .mfdcol {
        padding-left: 5px;
        padding-right: 5px;
    }

    .Slider.loader.mfddiv{
        width: 100%;
    }
    .mobile-card-price-details.mfdcdetails{
        margin-left: 20px;
    }
    .mfdt-div {
        margin-bottom: 15px;
    }

    .csadjust.flashdeal{
        margin-bottom: 0px;
    }


}