/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */
    .inputTextSize{
        font-size: 0.93rem !important;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280.55px) {

    /* CSS */
    .inputTextSize{
        font-size: 0.92rem !important;
    }
}


@media (min-width: 992px) and (max-width: 1025px) {

    /* CSS */
    .inputTextSize{
        font-size: 0.92rem !important;
    }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 991px) {
    .inputTextSize{
        font-size: 0.9rem !important;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .inputTextSize{
        font-size: 0.9rem !important;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 576px) and (max-width: 767.55px) {
    .inputTextSize{
        font-size: 0.86rem !important;
    }
    
}

@media (min-width: 481px) and (max-width: 575.55px) {
    .inputTextSize{
        font-size: 0.8rem !important;
    }
    .inputTextSize .MuiOutlinedInput-input{
        font-size: 0.8rem !important;
        padding: 10px !important;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 481.55px) {
    .inputTextSize{
        font-size: 0.75rem !important;
    }
    .inputTextSize .MuiOutlinedInput-input{
        font-size: 0.75rem !important;
        padding: 10px !important;
    }
    .profileEditSubmitBtn{
        width: 100%;
    }
    .user-avatar-img{
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 320.55px) {
    .inputTextSize{
        font-size: 0.7rem !important;
    }
    .inputTextSize .MuiOutlinedInput-input{
        font-size: 0.7rem !important;
        padding: 10px !important;
    }
    .profileEditSubmitBtn{
        width: 100%;
    }
    .user-avatar-img{
        width: 100px;
        height: 100px;
    }
}