/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}


@media (min-width: 991px) and (max-width: 1025px) {

    .profile-info-sub-news {
        font-size: 14px;
    }

}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 992px) {

    .manageProfileDiv {
        padding-right: .7rem;
    }

    .profile-info-sub-news {
        font-size: 13px;
    }

    .profile-info-card.title.card-title.h5 {
        font-size: 16px;
        margin-left: 15px;
    }

    .profile-info-card .card-text {
        margin-left: 15px;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {

    .manageProfileDiv {
        padding-right: .7rem;
    }

    .profile-info-sub-news {
        font-size: 13px;
    }

    .profile-info-card.title.card-title.h5 {
        font-size: 16px;
        margin-left: 15px;
    }

    .profile-info-card .card-text {
        margin-left: 15px;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 576px) and (max-width: 767.55px) {

    .manageProfileDiv {
        padding: 1rem;
    }

    .profile-info-card.title.card-title.h5 {
        font-size: 16px;
        margin-left: 15px;
    }

    .profile-info-card .card-text {
        margin-left: 15px;
    }

}

@media (min-width: 481px) and (max-width: 575.55px) {

    .manageProfileDiv {
        padding: 1rem;
    }

    .profile-info-card.title.card-title.h5 {
        font-size: 16px;
        margin-left: 15px;
    }

    .profile-info-card .card-text {
        margin-left: 15px;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 481.55px) {

    .manageProfileDiv {
        padding: 1rem;
    }

    .profile-info-card.title.card-title.h5 {
        font-size: 16px;
        margin-left: 10px;
    }

    .profile-info-card .card-text {
        margin-left: 10px;
    }

}

@media (max-width: 320.55px) {

    .manageProfileDiv {
        padding: 1rem;
    }

    .profile-info-card.title.card-title.h5 {
        font-size: 16px;
        margin-left: 10px;
    }

    .profile-info-card .card-text {
        margin-left: 10px;
    }

}