
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 576px) and (max-width: 767px) {

    .filterDrawer {
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 100;
        width: 0px;
        opacity: 0;
        transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
    }

    .filterDrawer.active {
        opacity: 1;
        display: block;
        width: 85% !important;
        background: white;
        padding: 30px;
        transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
    }

    .outerFilterContainer {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.2);
        height: 100vh;
        right: 0;
        z-index: 100;
        width: 0px;
    }

    .outerFilterContainer.active {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.2);
        height: 100vh;
        width: 100%;
        z-index: 100;
    }
}

@media (min-width: 481px) and (max-width: 575px) {

    .filterDrawer {
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 100;
        width: 0px;
        opacity: 0;
        transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
    }

    .filterDrawer.active {
        opacity: 1;
        display: block;
        width: 85% !important;
        background: white;
        padding: 30px;
        transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
    }

    .outerFilterContainer {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.2);
        height: 100vh;
        right: 0;
        z-index: 100;
        width: 0px;
    }

    .outerFilterContainer.active {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.2);
        height: 100vh;
        width: 100%;
        z-index: 100;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .filterDrawer {
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 100;
        width: 0px;
        opacity: 0;
        transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
    }

    .filterDrawer.active {
        opacity: 1;
        display: block;
        width: 85% !important;
        background: white;
        padding: 30px;
        transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
    }

    .outerFilterContainer {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.2);
        height: 100vh;
        right: 0;
        z-index: 100;
        width: 0px;
    }

    .outerFilterContainer.active {
        position: fixed;
        top: 0;
        background: rgba(0,0,0,0.2);
        height: 100vh;
        width: 100%;
        z-index: 100;
    }

}