/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}


@media (min-width: 991px) and (max-width: 1025.55px) {
    
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 991px) {
    .modalOrderSummery h4{
        font-size: 1rem;
    }
        
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .modalOrderSummery h4{
        font-size: 1rem;
    } 
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 576px) and (max-width: 767px) {

    /* CSS */
    .modalOrderSummery h4{
        font-size: 1rem;
    } 
    .responsiveModal {
        margin-top: 70px !important;
        z-index: 9999;
        padding: 10px 0;
        height: 85vh !important;
      }
}

@media (min-width: 481px) and (max-width: 575px) {
    .modalOrderSummery h4{
        font-size: 1rem;
    } 
    .modalOrderId {
        font-size: 0.83rem;
      }
      .responsiveModal {
        margin-top: 70px !important;
        z-index: 9999;
        padding: 10px 0;
        height: 85vh !important;
      }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .modalOrderSummery h4{
        font-size: 1rem;
    } 
    .modalOrderId {
        font-size: 0.78rem !important;
      }
      .responsiveModal {
        margin-top: 70px !important;
        z-index: 9999;
        padding: 10px 0;
        height: 85vh !important;
      }

}

@media (max-width: 320.55px) {
    .modalOrderSummery h4{
        font-size: 0.9rem;
    } 
    .modalOrderId {
        font-size: 0.65rem !important;
      }
      .responsiveModal {
        margin-top: 70px !important;
        z-index: 9999;
        padding: 10px 0;
        height: 85vh !important;
      }

}