.order-card {
    background: #F5F5F5;
    padding: 17px;
    margin-bottom: 21px;
    text-align: left;
}

.thumbnailImage {
    height: 42px;
}
.reviewModalImg{
    width: 100%;
}
.sortInput{

    text-align: left;

}

table tr td .badge{
    padding: 4px 6px;
    font-weight: 500;
    font-size: 0.7rem;
}
.orderResponsiveModal .modal-dialog.modal-lg.modal-dialog-centered {
    width: 96%;
}

.dataTables_wrapper.dt-bootstrap4{
    margin-top: 30px;
}