
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 576px) and (max-width: 767.55px) {
    .tabText{
        font-size: 0.79rem;
    }
    .orderDetails,
    .manageText,
    .orderDiv-l{
        font-size: 0.75rem;
    }
    .oder-cd{
        font-size: 0.75rem;
        margin-left: 20px;
        margin-top: 3px !important;
    }
    .oder-cd h6{
        font-size: 0.75rem;
    }
    .order-img {
        width: 70px;
        height: 70px;
    }


}

@media (min-width: 481px) and (max-width: 575.55px) {
    .tabText{
        font-size: 0.72rem;
    }
    .orderDetails,
    .manageText,
    .orderDiv-l{
        font-size: 0.7rem;
    }
    .oder-cd{
        font-size: 0.7rem;
        margin-left: 20px;
        margin-top: 0px !important;
    }
    .oder-cd h6{
        font-size: 0.7rem;

    }
    .order-img {
        width: 65px;
        height: 65px;
    }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 481.55px) {
    .tabText{
        font-size: 0.69rem;
    }
    .orderDetails,
    .manageText,
    .orderDiv-l{
        font-size: 0.65rem;
    }
    .oder-cd{
        font-size: 0.65rem;
        margin-left: 28px !important;
        margin-top: 0px !important;
    }
    .oder-cd h6{
        font-size: 0.65rem;
    }
    .order-img {
        width: 55px;
        height: 80px!important;
    }
    .order-delivery-div{
        margin-left: 20px !important;
    }
    .order-cancel-d,
    .order-review{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .order-title-div{
        width: 16% !important;
    }
    .order-price-div{
        width: 5% !important;
    }
    .order-qnt-div{
        width: 17%;
    }
    .purchasedText{
        font-size: 0.95rem;
    }



}

@media (max-width: 320.55px) {
    .tabText{
        font-size: 0.62rem;
    }
    .orderDetails,
    .manageText,
    .orderDiv-l{
        font-size: 0.57rem;
    }
    .oder-cd{
        font-size: 0.57rem;
        margin-left: 25px  !important;
        margin-top: 0px !important;
    }
    .oder-cd h6{
        font-size: 0.57rem;
        margin-top: 0px !important;
        margin-left: 10px;
    }
    .order-img {
        width: 50px;
        height: 80px!important;
    }
    .order-delivery-div{
        margin-left: 20px !important;
    }
    .order-cancel-d,
    .order-review{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .order-title-div{
        width: 16% !important;
    }
    .order-price-div{
        width: 5% !important;
    }
    .order-qnt-div{
        width: 13%;
    }
    .purchasedText{
        font-size: 0.85rem;
    }



}