/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 481px) and (max-width: 575px) {

    .mobileChangePasswordDiv {
        padding: 20px;
    }

    .mobileChangePasswordDiv img {
        width: 100px;;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .mobileChangePasswordDiv .form-control {
        border-right: none !important;
        border-left: none !important;
    }

    .mobileChangePasswordDiv .form-control:focus {
        border: 1px solid #ced4da !important;
        border-right: none !important;
        border-left: none !important;
        background: white !important;
    }

    .mobileChangePasswordDiv .input-group-text {
        background: transparent !important;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {



}

@media (max-width: 320.55px) {



}